# Arquivos de configuração dos projetos do Eclipse
**/.settings
**/.project
**/target
**/.classpath
**/.metadata

# Arquivos de configuração do IntelliJ
**/.idea
**/*.iml

# Diretório de banco de dados do tutorial Spring HSQLDB
spring/spring-hsqldb/hsqldb/*

# Classes compiladas do Groovy
**/*.class

# Arquivos "attach" do Spring.
**/.attach*

# Arquivos do banco HSQL
**/hsqldb/*

# Arquivos de saída do projeto "spring-job-configuration"
**/spring-job-configuration/output/*

# Arquivos do ActiveMQ
**/activemq-data/*

# Arquivos de exemplo de uso do Spring Integration.
**/spring/integration/spring-integration/arquivos/*
