<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="components/head :: head(title = #{game.title})">
	<body th:with="games = ${__${@thymeleafModelAttributeNamesClass.GAMES}__}">
		<div th:insert="components/header :: header"></div>
		<h1 th:text="#{game.title}">Page title</h1>
		<div th:insert="components/messages :: messages"></div>
		<th:block th:if="${games?.size() > 0}">
			<table>
				<tr>
					<th th:text="#{game.name.label}"></th>
					<th th:text="#{game.developer.label}"></th>
					<th th:text="#{game.genre.label}"></th>
					<th th:text="#{game.release-year.label}"></th>
					<th 
						th:text="#{page.actions}"
						colspan="2">
					</th>
				</tr>
				<th:block th:each="game : ${games}">
					<tr>
						<td th:text="${game.name}"></td>
						<td th:text="${game.developer}"></td>
						<td th:text="${game.genre}"></td>
						<td th:text="${game.releaseYear}"></td>
						<td>
							<a 
								th:href="@{__${@gameControllerPathsClass.EDIT}__(id=${game.id})}" 
								th:text="#{page.modify}">
							</a>
						</td>
						<td>
							<a 
								href="#" 
								th:text="#{page.delete}"
								th:attr="data-id=${game.id}"
								th:onclick="deleteElement(this.dataset.id)">
							</a>
						</td>
					</tr>
				</th:block>
			</table>
		</th:block>
		<th:block th:unless="${games?.size() > 0}">
			<span th:text="#{game.empty}"></span>
		</th:block>
		<th:block th:replace="components/form-create :: form-create(buttonLabel=#{game.create}, createPath = @{${@gameControllerPathsClass.EDIT}})" />
		<th:block th:replace="components/form-delete :: form-delete(deletePath = ${@gameControllerPathsClass.DELETE})" />
		<th:block th:replace="components/form-delete :: form-delete-javascript" />
	</body>
</html>
