<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Form delete</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<th:block th:fragment="form-delete(deletePath)" >
			<form 
				id="form-delete"
				th:action="@{${deletePath}}" 
				method="post">
				<input 
					type="hidden" 
					id="id"
					name="id">
			</form>
		</th:block>
		<th:block th:fragment="form-delete-javascript" >
			<script type="text/javascript">
				function deleteGame(id) {
					$("#form-delete #id").val(id);
					$("#form-delete").submit();
				}  
			</script>
		</th:block>
	</body>
</html>