<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{index.title}">Page title</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1 th:text="#{index.title}">Page title</h1>
		<table>
			<tr>
				<td>
					<a th:href="@{__${@userControllerPathsClass.USER}__}" th:text="#{index.user}"></a>
				</td>
			</tr>
			<tr>
				<td>
					<a th:href="@{__${@gameControllerPathsClass.GAME}__}" th:text="#{index.game}"></a>
				</td>
			</tr>
			<tr>
				<td>
					<span th:text="#{index.library}"></span>
					<ul>
						<li>
							<a th:href="@{__${@libraryControllerPathsClass.USER}__}" th:text="#{index.library.user}"></a>
						</li>
						<li>
							<a th:href="@{__${@libraryControllerPathsClass.GAME}__}" th:text="#{index.library.game}"></a>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</body>
</html>
