<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{user.title}">Page title</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1 th:text="#{user.title}">Page title</h1>
		<div th:insert="components/messages :: messages"></div>
		<th:block th:if="${users?.size() > 0}">
			<table>
				<tr>
					<th th:text="#{user.edit.username.label}"></th>
					<th th:text="#{user.edit.name.label}"></th>
					<th th:text="#{user.actions}"></th>
				</tr>
				<th:block th:each="user : ${__${@thymeleafModelAttributeNamesClass.USERS}__}">
					<tr>
						<td th:text="${user.username}"></td>
						<td th:text="${user.name}"></td>
						<td>
							<a 
								th:href="@{__${@userControllerPathsClass.USER_EDIT}__(id=${user.id})}" 
								th:text="#{user.modify}">
							</a>
					</tr>
				</th:block>
			</table>
		</th:block>
		<th:block th:unless="${users?.size() > 0}">
			<span th:text="#{user.empty}"></span>
		</th:block>
		<form th:action="@{__${@userControllerPathsClass.USER_EDIT}__}">
			<input 
				type="submit" 
				th:value="#{user.create}">
		</form>
	</body>
</html>
